.main {
  position: relative;
  top: 6.5vh;
  left: 20vw;
  width: 80vw;
  height: 100vh;
  background-color: rgb(255, 247, 247);
  padding-top: 1rem;
  color: rgb(130, 130, 130);
  overflow: scroll;
  background-color: white;
}

.title {
  color: rgb(130, 130, 130);
  font-size: 1.8rem;
  margin-left: 10%;
}

.card_container {
  margin: 1rem 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(255, 247, 247);
  margin-bottom: 2rem;
}

.alertEnter {
  opacity: 0;
}
.alertEnterActive {
  opacity: 1;
  transition: opacity 600ms ease-in;
}
.alertExit {
  opacity: 1;

}
.alertExitActive {
  opacity: 0;
  transition: opacity 600ms ease-out;

}

.visible{
  z-index: 105;
}
