.logoutButton{
    position: absolute;
    right: 0;
    top: 3.6rem;
    width: 11rem;
    height: 3rem;
    transform: scaleY(0);
}

.logoutButtonOpened {
    position: absolute;
    right: 0;
    top: 3.6rem;
    width: 11rem;
    max-height: 3rem;
    transform: scaleY(1);
    transition: transform 300ms ease-in;
}

.logoutButton .button{
    width: 100%;
    height: 100%; 
    background-color: white;
    border-color: white;
    color: black;
    font-weight:  bolder;
    font-size: 0.9rem;
    border-radius: 0 0 0.5rem 0.5rem;
    cursor: pointer;
    
}

.logoutButtonClosed{
    position: absolute;
    right: 0;
    top: 3.6rem;
    width: 11rem;
    height: 3rem;
    transform: scaleY(0);
    transition: transform 300ms ease-out;
}
  