.portrait{
    display: flex;
    align-items: center;
    cursor: pointer;
    /* margin-right: 10rem; */
    position: relative;
    /* justify-content: center; */
}

.portrait img{
    width: 3rem;
    height: auto;
    border-radius: 50%;
    margin: 0 0.5rem;
}