.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 110;
}

.content button{
    margin-top: 0.5rem;
}

.backdrop{
    position:absolute;
    left:0;
    top:0;
    background-color:  rgba(255,255,255,0.7);
    z-index: 100;
    width: 100%;
    height: 100%;
}

.dialog{
    position: absolute;
    left:0;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.dialog:hover{
    opacity: 1;
    transition: opacity 0.3s ease-in;
}