.sidebar{
    position: fixed;
    width: 20vw;
    height: 100vh;
    border: 0.1rem solid rgba(0.2,0.2,0.2,0.15);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    color: black
}

button{
    height:3rem;
    border: none;
    margin: 0.1rem 0;
    width: 100%;
    background-color: aliceblue;
    cursor: pointer;
    color: rgb(3, 0, 201);

}