.container{
  width: 100%;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  z-index: 105;
  align-items: center;
  transform: translateY(-10rem);
}

.container_open{
    transform: translateY(0);
    transition: transform 300ms ease-in; 
}

.container_closed{
    transform: translateY(10rem);
    transition: transform 300ms ease-in; 
}

.rightAligner :first-child{
    margin: 1rem 1rem;
    font-size: 2rem;
    font-weight: bolder;    
}

.rightAligner :last-child{
    margin: 1rem 1rem;
    font-size: 2rem;
    font-weight: bolder;
    color:rgba(0, 85, 15, 0.904);
}

.rightAligner{
    justify-self: flex-end;
    margin-left: auto;
    width: 50%;
    display: flex;
    align-items: center;
}
.shoppingBtn{
    display: flex;
    justify-content: center;
    width: 40%;    
}

.shoppingBtn .button{
    width: 70%;
    margin-left: 15%;
    border:none;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(206, 206, 206);
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 85, 15, 0.904);
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
}