.badge{
    border-radius: 50%;  
    border: 0.3rem solid red;
    background-color: red;
    color: white;
    position: absolute;
    font-size: 0.9rem;
    font-weight: bolder;
    left: 20%;
    top: 23px;
    width: 1.3rem;
    height: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: transform 300ms ease-out;
}

.bump{
    transform: scale(1.1);
    background-color: orange;
    border: 0.3rem solid orange;
    transition: transform 300ms ease-in;
}