

.cartlogo{
    /* justify-self: flex-end; */
    /* margin-right: 1rem;
    margin-left: 1rem; */
    /* margin-right: 0.5rem; */
    border-left: 0.1rem solid rgb(190, 190, 190);
    border-right: 0.1rem solid rgb(190, 190, 190);
    display: flex;
    cursor: pointer;
    position: relative;
    right: 0rem;
    width: 5rem;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

}     

.cartlogoimage{
    width: 4rem;
    height: 3rem;  
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin:0 0; 
}

