 .input{
    border-radius: 0.3rem;
    height: 2.5rem;
    margin-right: 1rem;
    width: 35rem;
    border: 0.1rem solid rgba(80, 79, 79, 0.616);
    padding-left: 0.4rem;
    font-size: 1.025rem;

 }